# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general.

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [ ]:
1 + 1

In [ ]:
1 * 3

In [ ]:
1 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

### Variable Assignment

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
z

### Strings

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
" wrap lot's of other quotes"

### Printing

In [ ]:
x = 'hello'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

In [ ]:
print('My number is: {}, and my name is: {}'.format(num,name))

### Lists

In [ ]:
[1,2,3]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

### Sets

In [ ]:
{1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [ ]:
if 1 < 2:
    print('yes')

In [ ]:
if 1 < 2:
    print('yes')

In [ ]:
if 1 < 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
for item in seq:
    print(item)

In [ ]:
for item in seq:
    print('Yes')

In [ ]:
for jelly in seq:
    print(jelly+jelly)

## while Loops

In [ ]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

## range()

In [ ]:
range(5)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
list(range(5))

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
[item**2 for item in x]

## functions

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

## map and filter

In [ ]:
seq = [1,2,3,4,5]

In [ ]:
map(times2,seq)

In [ ]:
list(map(times2,seq))

In [ ]:
list(map(lambda var: var*2,seq))

In [ ]:
filter(lambda item: item%2 == 0,seq)

In [ ]:
list(filter(lambda item: item%2 == 0,seq))

## methods

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

# Exercises 

This a simple exercise to test your understanding of Python Basics.

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

** Given this nest dictionary grab the word "hello" **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [ ]:
domainGet('user@domain.com')

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [ ]:
findDog('Is there a dog here?')

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [ ]:
countDog('This dog runs faster than the other dog dude!')

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
caught_speeding(81,True)

In [ ]:
caught_speeding(81,False)